body {
    background-color:black;
}
p {
    color: white;
    text-align: center;
}
h1 {text-align: center;
    color: white;
}
#kalju{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
div {
    width: 150px;
    height: 100px;
    position: relative;
    animation-name: fatty;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    object-fit: cover;
}
@keyframes fatty {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:150px; top:0px;}
    50%  {background-color:blue; left:150px; top:150px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}